*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.one, .two, .three{
    width: 20px;
    height: 100px;
   font-size: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.one, .three{
    background-color: #f8d69d;
}
.two{
    background-color: #f89ea9;
}