*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid 1px red; */
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
/* Header */
header{
    display: block; 
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    margin-bottom: 66px;
}
.container{
    margin: 0 auto;
    text-align: center;  
}
.row{
    padding-right: 0;
    padding-left: 0;
}
[class*="col-"]{
    padding-right: 0;
    padding-left: 0;
}
.input{
    height: 36px;
}
 .log a, .sign a{
    text-decoration: none;
    color: #ffffff;
} 
.log a{
    padding:10px;
}
.log, .sign, .button{
    font-size: 14px;
    cursor: pointer;
}
.sign a{
    width: 90px;
    height: 36px;
    padding: 8px;
    border: 2px solid #ffffff;
    border-radius: 18px;
    color: #ffffff;
    background-color: transparent;
    align-content: flex-start; 
 }
 .log a, .sign a, .link a, .topic h2,  .button, h3{
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat";
    color: #ffffff;
}
.link a{
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    color: #ffffff;
}
.navigation{
    margin-bottom: 32px;
}
.topic h2{
    margin: 0 auto;
    width: 280px;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.description p{
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-weight: 300;
}
.button{
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 78, 80);
    margin-bottom: 138px;
}
/* Main */
h3{
    font-size: 21.98px;
    color: #333333;
}
.list-item{
    margin: 0 auto;
    width: 216px;
    color: #333333;
    list-style: none;
}
.foto{
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 122px;
    height: 122px;
    text-align: center;
    margin-bottom: 14px;
    }
img{
    display: block;
    width: 122px;
    height: 122px;
    }
.one::after, .two::after, .three::after, .four::after{
    content: " ";
    display: block;
    width: 40px;
    height: 40px; 
    position: relative;
    right: -82px;
    top: -40px;
    cursor: pointer;
}
.one::after{
    background-image: url(../img/icon/tv.png);
}
.two::after{
    background-image: url(../img/icon/bottle.png);
}
.three::after{
    background-image: url(../img/icon/cup.png);
}
.four::after{
    background-image: url(../img/icon/airplane.png);
}
.list-item h4{
    color: #333333;
    font-size: 13.97px;
    margin-bottom: 14px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    font-weight: 700;
}
.list-item p{
    color: rgb(102, 102, 102);
    font-size: 13.97px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0px;
}
.main_button{
    width: 280px;
    height: 40px;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    background-color: transparent;
    margin-bottom: 56px;
    font-size: 14px;
    color: #ff4e50;
    cursor: pointer;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat";
} 
.list-item:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
/* @Media */

@media(min-width:320px){
header{
    background-image: url(../img/slaider.png);
    background-repeat: no-repeat;
    padding-top: 20px;
}
.container{
    min-width: 320px;
    max-width: 767px;
}
.input{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 112px;
}
.log{
    display: flex;
    justify-content: flex-end;
}
.sign{
    display: flex;
    justify-content: flex-start;
}
.description{
    margin-bottom: 16px;
}
.list-item:nth-child(-n+3){
    margin-bottom: 28px;
}
.list-item p{
    width: 216px;
    margin: 0 auto;;
}
.team{
    margin-bottom: 28px;
}
h3{
    margin-bottom: 14px;
}
.heading{
    width:262px;
}
}
@media(min-width:768px){
    header{
    background-image: url(../img/slaider_tablet.png);
    background-repeat: no-repeat;
    padding-top: 38px;
}
.container{
    margin:0 auto;
    min-width: 320px;
    max-width: 720px;
}
.navigation{
    width: 720px;
    height: 36px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 146px;
} 
.input{
    display: flex;
    justify-content: flex-end;
}
.link{
    display: flex;
    justify-content: flex-start;  
    height: 36px;
}
.link a{
    margin:auto 0;
}
.topic h2{
    width: 504px;
    font-size: 51.97px;
    margin-bottom: 26px;
}
.description{
    margin-bottom: 32px;
}
.description p{
    width: 404px;
    font-size: 23.99px; 
}
.button{
    width: 226px;
    font-size: 13.99px;
    margin-bottom: 234px;
}
.heading h3{
    margin-bottom: 32px;
}
.team{
margin-bottom: 38px;
}
.list-item h4{
    margin-bottom: 12px;
}
.list-item:nth-child(2){
    order: 1;
    margin-bottom: 0px;
}
.list-item:nth-child(4){
    order: 1;
}
.list-item:nth-child(1), .list-item:nth-child(3){
    margin-bottom: 56px;
}
.main_button{
    width: 192px;
    font-size: 13.98px;
    margin-bottom: 40px;
}
}
@media(min-width:992px){
    header{
    background-image: url(../img/slaider_desktop.png);
    background-repeat: no-repeat;
    }
    .container{
        min-width: 940px;
        max-width: 960px;
    }
    .navigation{
        width: 960px;
    }
 .sign{
    justify-content: flex-end;
 }
 .team{
    width: 960px;
    margin-bottom: 34px;
}
.list-item:nth-child(1), .list-item:nth-child(3){
    margin-bottom: 0px;
}
.main_button{
    margin-bottom: 72px;
}
}