*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: solid 1px red;
}
.wraper{
    margin: 0 auto;
    width: 1600px;
    height: auto;
}

/*Menu*/

.container{
    width: 1110px;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 32px;
}
.menu{
    display: inline-block;
    width: 100%;
}
.logo{
    float: left;
}
.nav{
    float: right;
    padding-top: 7px;
    list-style: none;
    text-align: center;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
nav li{
    float: left;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
.nav li:nth-child(-n+5){
    margin-right: 32px; 
}
.nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family:  'Roboto black', sans-serif;
    color: #0f0101;
    font-size: 12px;
    font-weight: 900;
    line-height: 11px;
}
nav a:hover,
nav a:focus{
    color: #1abc9c;
}

/*Sectio slider*/

.slider{
    position: relative;
}
.slider>img{
max-width: 100%;
}
.button-left, .button-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 104px;
    height: 104px;
    background-color:#70bca9;
    opacity: 0.651;
    border: none;
}
.button-left{
    left: 245px;
}  
.button-right{
    right: 245px;
}
.button-left>img, .button-right>img{
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
}
.button-left:hover, .button-right:hover{
    background: #1abc9c;
    cursor: pointer;
    opacity: 1;
}
.slider-description{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    width: 766px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .slider-description>h2{
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
}
.slider-description>p{
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
}

/* Section collection */

.collection{
    max-width: 100%;
    background-color: #e9f0fd;
}
.section{
    width: 1110px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    padding-top: 94px;
}
.section>h3{
    font-size: 48px;
    line-height: 32px;
    font-weight: 900;
    color: #515151;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.section>h3::after{
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    display: block;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%, -50%);
}
.features{
    float: left;
    width: 255px;
    height: 322px;
    margin-bottom: 100px;
    position: relative;
}
/*---------------Active blok--------------*/
.active-blok{
    width: 100%;
    height: 282px;
    border: 10px solid rgba(255, 255,255, 0.3);
    position: absolute;
}
.activ-blok li{
    display: inline-block;
    text-decoration: none;
}
.hart-icon, .arrows-icon, .clock-icon{
    width: 50px;
    height: 50px;
    border: 1px solid white; 
    position: relative;
    margin-bottom: 4px;
}
.arrows-icon{
    background-color: #1abc9c;
}
.hart-icon>img, .arrows-icon>img, .clock-icon>img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cart-icon{
   
    width: 166px;
    height: 50px;
    background-color: #323232;
    border: 1px solid white; 
    position: relative;
} 
 .cart-icon>img{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.cart-icon>p{
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
}