*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
h2 {
    margin:  25px;
    font-size: 30px;
}
ul {
    margin-left: 25px;
    width: 500px;
    height: auto;
    font-size: 20px;
    line-height: 35px;
    text-align: right;
}
.code{
    display: inline;
    margin-left:25px;
}
 .number{
margin-left: 100px;
display: inline;
color: red;
text-decoration: none;
}