* {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.page-header{
    background-color: aqua;
  
}.site-navigation{
    font-size: 40px;
    list-style: none;
    text-align: center;
}
.site-navigation li{
    display: inline-block;
}
.site-navigation li:not(:last-child) {
   margin-right: 40px;
}
.site-navigation a{
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navigation a:hover,
  .site-navigation a:focus {
color: crimson;
  }  