*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
box-sizing: inherit;
}
.wrapper {
   margin: 0 auto;
   width: 900px;
   height: auto; 
}
/*Menu*/
.navigation{
    padding-top: 74px;
    padding-bottom: 100px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}  
.navigation ul{
    text-align: center;
}
.navigation  ul li{
    display: inline-block;
    text-align: center;
}
.navigation nav a{
    text-decoration: none;
    color: black;
}
.navigation li:not(:last-child){
   margin-right: 100px;
}
.navigation li a:hover,
.navigation li a:focus{
    color: #25b4f5;
    cursor: pointer;
}
/*Content*/
.section_1, .section_2,.section_3,
.section_4, .section_5, .section_6{
    display: inline-block;
    width: 420px;
    height: auto;
}
.section_1, .section_3, .section_5 {
    margin-right: 56px; 
   } 
.img {
       width: 420px;
       height: 280px;
       margin-bottom: 32px;
   }
.style{
    margin: 0px;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.5;
}
.text-style{
    font-family: 'Playfair Display', serif;
    opacity: 0.5;
}
.text-style h2{
    font-size: 30px;
    margin-bottom: 32px;
}
.text-style p{
    margin-bottom: 132px;
    text-align: justify;
}
/*button*/
.button{
    margin: 0 auto;
    text-align: center;
    height: 60px;
    margin-top: -76px;
    margin-bottom: 70px;
    font-size: 20px;
    padding: 0px 32px 0px 32px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}