*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    margin: 20px auto;
    width: 470px;
    padding: 20px;    
    border: 0.3px  gray;
    box-shadow: 0 0 4px;
   }
img{
   width: 426px;
   height: auto;
}
.style {
    margin-top: 32px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.style-text {
    font-family: 'Playfair Display', serif;
    margin-top: 32px;
}
.style-text p {
    margin-top: 32px;
}