*{
    margin:  0;
    padding:  0;
    box-sizing:  border-box;
}
.wrapper {
    margin-top: 30px;
    margin: auto;
    width: 470px;
    height:  auto;
    border: 1px solid black;
}  
  img {
      margin-top: 34px;
      margin-left:  22px;
      width: 426px;
      height: 284px;
}
div {
    margin-top: 32px;
    margin-left:  22px;
 }
h2 {
    font-size: 30px;
}
.style {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.text-style {
    font-family: 'Playfair Display', serif;
}
p {
    margin-top: 40px;
    margin-bottom: 34px;
    margin-right: 22px;
    font-size: 14px;
}