$font-stack: 'Roboto', sans-serif;
$color: #424242;
$size: 18px;
$color-hover: #03A9F4;
.text{
    @include font-param (20px);
    font-family: $font-stack;
    color: $color;
    font-size: $size;
}
.text:hover{
    background-color: $color-hover;
}
// @mixin font-param($font-size, $line-height) {
//     font-size: $font-size;
//     line-height: $line-height;
// }
@mixin font-param {
    font-size: $font-size;
    line-height: $line-height;
}