*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: solid 1px red; 
}
.wraper{
    width: 1200px;
    margin: 0 auto;
}
.menu{
    margin-bottom: 130px;
    width: 1200px;
    margin: 0 auto;
}
.navigation{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #95e1d3;
}
.nav{
    width: 490px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: flex-end;
}
.nav li{
    display: flex;
    align-items: flex-end;
}
.nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #95e1d3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.nav a::after{
    content: "";
    min-width: 100%;
    height: 3px;
    display: block;
    margin-top: 12px;
    background-color: #f38181;
    opacity: 0;
}
.nav a:hover{
    transition-property: color;
    transition-duration: 0.2s;
    color: #f38181;
}
.nav a:hover::after{
    transition-duration: 0.2s;
    opacity: 1;
}
/* Title */
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pretitle{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    margin-bottom: 17px;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.line{
    width: 60px;
    height: 3px;
    background-color: #f38181;
}
.conteiner{
    display: flex;
    margin-top: 66px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 94px;
}
.blok{
    width: 400px;
    display: flex;
   /*  justify-content: space-around; */
}
.blok div{
    width: 300px;
}