
.header{
  padding-top: 28px;
  padding-bottom: 112px;
  background-image: url(/module_11_gulp/src/images/img/feuters_item_mini/baner-min.jpg);
  background-size: cover;
  background-position: center;
  height: 998px;
  color: $text-color ;
  margin-bottom: 46px;
}