.header-nav{
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 164px;

  &__logo{
    font-size: 30px;
    text-decoration: none;
    color: 'text-color';
    padding: 0 6px;
  }

  &__list{
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-top: 18px;
  }

  &__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  &__link{
    text-decoration: none;
    text-transform: uppercase;
    color: 'text-color';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  &__link::after{
    content: "";
    min-width: 100%;
    height: 3px;
    display: block;
    margin-top: 12px;
    background-color: 'background-color';
    opacity: 0;
  }

  &__link:hover,
  &__icon--glass:hover,
  &__icon--basket:hover{
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    color: 'background-color';
  }

  &__link:hover::after,
  &__icon--glass:hover::after,
  &__icon--basket:hover::after{
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    opacity: 1;
  }

  &__icon--glass,
  &__icon--basket{
    fill: 'text-color';
  }

  &__icon--glass:hover,
  &__icon--basket:hover{
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    fill: 'background-color';
  }

}