.section{
  padding: 0 10px;
  width: 1200px ;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section__pretitle, .header__pretitle{
  font-family: $second-font-stak ;
  font-weight: 400;
}

.section{
  &__pretitle{
    display: block;
    font-size: 24px;
    color: $section-text-color ;
  }

  &__title{
    color: $section-text-color ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
  }
}

.one{
  margin-bottom: 64px;
}

.two{
  margin-bottom: 42px;
}

.section{
  &__title::after{
    content: "";
    width: 60px;
    height: 3px;
    background-color: $background-color-underline ;
    display: block;
    margin-top: 40px;
  }

  &__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px; 
  }

  &__item{
    width: 380px;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
  }

  &__item:not(:nth-child(n+4)){
    margin-bottom: 100px;
  }

  &__item::before{
    display: block;
    color: $color-figures ;
    width: 60px;
    height: auto;
    background-position: 50% 0%;
    content: "";
  }
}

.service{
  &__item--alarm, 
  &__item--graph, 
  &__item--computer, 
  &__item--book, 
  &__item--home, 
  &__item--image{
    background-repeat: no-repeat;
  }

  &__item{
    &--alarm{
      background-image: url(/module_11_gulp/src/images/img/icon_mini/ALARM-min.png);
    }
    
    &--graph{
      background-image: url(/module_11_gulp/src/images/img/icon_mini/LINE_GRAPH-min.png);
    }
    
    &--computer{
      background-image: url(/module_11_gulp/src/images/img/icon_mini/COMPUTER_OK-min.png);
    }
    
    &--book{
      background-image: url(/module_11_gulp/src/images/img/icon_mini/BOOK_2-min.png);
    }
    
    &--home{
      background-image: url(/module_11_gulp/src/images/img/icon_mini/HOME-min.png);
    }
    
    &--image{
      background-image: url(/module_11_gulp/src/images/img/icon_mini/IMAGE-min.png);
    }
  }
 
}

.section{
  &__subtitle,
  &__list-features h3{
    font-family: $main-font-stak ;
    font-weight: 600;
    color: $section-text-color ;
    margin-bottom: 14px;
    line-height: 1.2;
    font-size: 14px;
  }

  &__subtitle,
  &__list-features h3{
    text-transform: uppercase;
  }

  &__blok p,
  &__text,
  &__list-features p{
    font-family: $heading-font-stak ;
    color: $color-text-features ;
    line-height: 1.6;
    font-weight: 400;
    font-size: 15px;
  }

  &__blok{
    width: 300px;
  }     

  &__text{
    text-align: center;
    width: 980px;
    margin-bottom: 90px;
  }
}