$text-color: #ffffff;

$background-color: #fce38a;

$main-font-stak: 'Montserrat', sans-serif;

$second-font-stak: 'Kaushan Script', cursive;

$section-text-color: #333333;

$background-color-underline: #f38181;

$color-figures: #95e1d3;

$heading-font-stak: 'Roboto';

$color-text-features: #999999;