*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.list{
    font-size: 0px;
    margin-top: 20px;
}
.list li{
    padding: 10px;
    font-size: 26px;
    text-align: center;
}
.list a{
    text-decoration: none;
}
.list li:hover a::before{
    font-size: 36px;
    content: "\2192";
    color: red;
}
a:hover{
    font-size: 36px;
} 