*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
    margin-top: 20px;
}
.list{
    font-size: 0px;
    color: #0E1116;
}
.list li{
    display: inline-block;
    margin: 5px;
    font-size: 26px;
    width: 300px;
    height: 300px;
    border: 2px solid blue;
    padding: 135px 50px 135px 50px;
    text-align: center;
}
.list li:nth-child(3n+1){
    background-color: #88292f;
}
.list li:nth-child(3n+2){
    background-color: #5db7de;
}
.list li:nth-child(3n){
    background-color: #0d5d56;
}
