*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: solid 1px red; */
}
.wrapper{
    width: 1140px;
    padding: 15px;;
    margin: 0 auto;
}
/*Menu*/

.page-header{
    height: 22px;
    margin-bottom: 105px; 
}
.logo{
    float: left;
}
.nav{
    float: right;
    padding-top: 5px;
    list-style: none;
    text-align: center;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
.nav li{
    float: left;
}
.nav li:nth-child(-n+5){
    margin-right: 50px; 
}
.nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family:  'Roboto black', sans-serif;
    color: #0f0101;
    font-size: 14px;
    font-weight: 900;
    line-height: 11px;
}
nav a:hover,
nav a:focus{
    color: #1abc9c;
}
/* Features section */

.item{
    padding-bottom: 100px;
}
 .item h2{
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    color: #515151;
    }   
.item h2::after {
    content: "";
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
   display: block;
   text-align: center;
    margin-left: 473px;
    margin-top: 28px;
    margin-bottom: 92px;
}
.features{
    float: left;
    width: 255px;
    height: 322px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 32px;
    color: #ffffff;
} 
.features:not(:nth-child(4n)) {
    margin-right: 30px;
}
.features:nth-child(-n+4){
    margin-bottom: 30px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
 }
.product{
    width: 200px;
    height: 40px;
    padding-left: 13px;
    padding-top: 4px;
    background-color: #323232;
    color: #ffffff;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
}
.prise{
    width: 55px;
    height: 40px;
    padding-top: 4px;
    background-color: #8c8c8c;
    float: right;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
.features a:hover .product{ 
   background-color: #1abc9c;
}
.features a:hover .prise{
    background-color: #7fd9c7;
}
/* Aside blok */

.articles{
    padding-bottom: 46px;
}
.articles h2{
    font-size: 48px;
    color: #555252;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;     
}
.articles h2::after{
    content: " ";
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    display: block;
    margin-left: 473px;
    margin-top: 28px;
    margin-bottom: 80px;
}
.blog{
    float: left;
    width: 350px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    color: #555252;
} 
.blog:not(:nth-child(3n)){
    margin-right: 30px;
}
.blog img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 13px;
}
.picture-description{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 13px;
}
.articles h3::after {
    content: " ";
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    display: block;
    margin-top: 14px;
    margin-bottom: 28px;
}
.list{
    font-size: 12px;
    font-weight: 400px;
    margin-bottom: 16px;
}
button{
    width: 160px;
    height: 51px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    background-color: #4ec6ab; 
    border-radius: 3px;   
    cursor: pointer;
} 