*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    width: 1200px;
    margin: 0 auto;
}
/* Menu */
.header{
    width: 1200px;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 112px;
    background-image: url(../img/baner.jpg);
    background-size: cover;
    background-position: center;
    height: 998px;
    color: #ffffff;
    margin-bottom: 46px;
}
.header-nav{
    min-height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 164px;
}
.header-nav__logo{
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    padding: 0 6px;
}
.header-nav__list{
    width: 600px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: flex-end;
    padding-top: 18px;
}
.header-nav__item{
    display: flex;
    align-items: flex-end;
}
.header-nav__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header-nav__link::after{
    content: "";
    min-width: 100%;
    height: 3px;
    display: block;
    margin-top: 12px;
    background-color: #fce38a;
    opacity: 0;
}
.header-nav__link:hover, .header-nav__icon--glass:hover, .header-nav__icon--basket:hover{
    transition-property: color;
    transition-duration: 0.2s;
    color: #fce38a;
}
.header-nav__link:hover::after,  .header-nav__icon--glass:hover::after, .header-nav__icon--basket:hover::after{
    transition-duration: 0.2s;
    opacity: 1;
}
.header-nav__icon--glass, .header-nav__icon--basket{
    fill:white;;
}
.header-nav__icon--glass:hover, .header-nav__icon--basket:hover{
    transition-duration: 0.2s;
    fill: #fce38a;
    cursor: pointer;
}
.header__pretitle{
    font-size: 72px;
    text-align: center;
    margin-bottom: 34px;
}
h1{
    margin: 0 auto;
    width: 840px;
    text-align: center;
    font-size: 150px;
    text-transform: uppercase;
    margin-bottom: 86px;
}
h1, .header-nav__logo, .section__title, .footer__button, .header__button{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.header__button{
    display: block;
    width: 162px;
    height: 40px;
    border: 3px solid;
    margin: 0 auto;
    color: white;
    background-color: transparent;
    font-size: 14px;
}
.header__button:hover{
    cursor: pointer;
    color:#f38181;
}
                                          /* Title */
/* Section service */
.section{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__pretitle, .header__pretitle{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}
.section__pretitle{
    display: block;
    font-size: 24px;
    color: #333333;
}
.section__title{
    font-size: 30px;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one{
    margin-bottom: 64px;
}
.two{
    margin-bottom: 42px;
}
 .section__title::after{
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    display: block;
    margin-top: 40px;
}
.section__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
}
.section__item{
    width: 380px;
    display: flex;
}
.section__item:not(:nth-child(n+4)){
    margin-bottom: 100px;
}
.section__item::before{
    content: "";
    display: block;
    color: #95e1d3;
    width: 60px;
    height: auto;
    background-position: 50% 0%;
}
.alarm, .graph, .computer, .book, .home, .image{
    background-repeat: no-repeat;
}
.alarm{
    background-image: url(../img/icon/ALARM.png);
 }
.graph{
    background-image: url(../img/icon/LINE\ GRAPH.png);
 }
.computer{
    background-image: url(../img/icon/COMPUTER\ _\ OK.png);
 }
.book{
    background-image: url(../img/icon/BOOK\ 2.png);
 }
.home{
    background-image: url(../img/icon/HOME.png);
 }
.image{
    background-image: url(../img/icon/IMAGE.png);
 }
.section__subtitle, .section__list-features h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin-bottom: 14px;
    line-height: 1.2;
}
.section__subtitle, .section__list-features h3{
    text-transform: uppercase;
}
.section__blok p, .section__text, .section__list-features p{
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    font-weight: 400;
}
.section__blok{
    width: 300px;
}     
.section__text{
    width: 980px;
    text-align: center;
    margin-bottom: 90px;
}
/* Section team */
.team{
    padding-bottom: 80px;
}
.section__list-features{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__item-features{
    width: 380px;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
}
.features__blok{
    width: 380px;
    height: 470px;
    background: linear-gradient( to bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
    position: absolute;
    left:-10px;
    top:-10px;
    z-index: 2;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features__list{
    display: flex;
    list-style: none;
    width: 224px;
    height: 55px;
    justify-content: space-around;
}  
/* Active blok */
.blok__icon{
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__facebook--active, .icon__twitter--active, .icon__pinterest--active, .icon__instagram--active{
   fill: #f38181;
}
.features__img{
    max-width: 100%;
    margin-bottom: 28px;
}
.section__item-features h3{
  text-align: center;
}
.section__item-features p{
    text-align: center;
    font-weight: 300;
}
 .section__item-features:hover .features__img{
    position: relative;
    left: -10px;
    top: -10px;
    z-index: 2;
}
.section__item-features:hover .features__blok{
    z-index: 3;
    transition-duration: 0.2s;
    opacity:1 ;
    box-shadow: 10px 10px 0 rgba(149, 225, 211, 1);
}
.blok__icon:hover{
    background-color:#f38181;
    cursor: pointer;
}
.blok__icon:hover .icon__facebook--active, .blok__icon:hover .icon__twitter--active, .blok__icon:hover .icon__pinterest--active, .blok__icon:hover .icon__instagram--active{
    transition-property: background-color;
    transition-duration: 0.2s;
    fill:white;
}

/* Footer */
.section__underline{
    width: 1200px;
    height: 1px;
    background-color: #e5e5e5;
    margin-bottom: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.footer__left, .footer__right{
    display: flex;
    align-items: center;
}
.footer__left{
    justify-content: flex-start;
    padding-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}
.footer__right{
    justify-content: flex-end;
}
/* .left_lineblack, .left_linered{
    padding-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}  */
.footer__left--black{
    color: rgb(51, 51, 51);
}
.footer__left--red{
    color: #f6a1a1;
}
.input{
    padding-left: 12px;
    border: 1px solid #e5e5e5;
    width: 230px;
    height: 40px;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.6;
    font-weight: 300;
 }
.footer__button {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    text-align: center;
    border: none;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2;
    cursor: pointer;
}
.footer__button:hover{
    background-color:#f38181;
    transition-property: color;
    transition-duration: 0.2s;
}
/* Media */
@media (min-resolution: 192dpi), (min-resolution:2dppx){
    .header{
        background-image: url(../img/features_retina/baner@2x.jpg);
    }
    .first{
        background-image: url(../img/features_retina/layer\ 1@2x.jpg);
    }
    .second{
        background-image: url(../img/features_retina/layer\ 2@2x.jpg)
    }
    .third{
        background-image: url(../img/features_retina/layer\ 3@2x.jpg)
    }
}